*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* Nav Bar Styling */
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 11vh;
   background-color: #6C63FF;
   font-family: 'Poppins', sans-serif;

}
.logo{
    color:rgb(226,226,226);
    text-transform: uppercase;
    margin-top:10px;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    margin-top:10px;
    justify-content: space-around;
    width:30%;
}
.nav-links li{
    list-style-type: none;
}
.nav-links a {
    color:rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    height:3px;
    background-color:rgb(226,226,226);
    margin:5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px){
   
    .nav-links{
        width:60%;
        margin-top:0px;

    }
}
@media screen and (min-width:1px) and (max-width:1024px){
  
    body{
        overflow-x: hidden;
        
    }
    .nav-links{
        position: absolute;
        right:0px;
        height:100vh;
        top:8vh;
        background-color: #6C63FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
      opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
   
}
@keyframes navLinkFade{
    from{
        opacity: 0;;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{

    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{

  opacity: 0;

}
.toggle .line3{

    transform: rotate(45deg) translate(-5px,-6px);
}

/* Home Page Styling */

#Banner{
    margin-top:100px;
}

.heading{
    color:#6C63FF;
    
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}

.banner-p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading2{
    font-weight: 550;
}
#btn{
    background-color: #6C63FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btn:hover{
    background-color: #463df3;
    transition:  0.5s all ease-in-out;
}
#btn:focus{
    background-color: rgb(214, 24, 81);
    transition:  0.5s all ease-in-out;
}

#btn1{
    margin-left:25px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btn1:hover{
    margin-left:25px;
    color: white;
    background: rgb(218, 69, 113);
    transition:  0.5s all ease-in-out;
}
#btn1:focus{
    margin-left:25px;
    color: white;
    background: rgb(78, 189, 93);
    transition:  0.7s all ease-in-out;
}

 li{
    list-style: none;
}


h6{
    font-size: 30px;
}

.container {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
   }
   @media (min-width:768px) {
    .container {
     width:750px
    }
   }
   @media (min-width:992px) {
    .container {
     width:970px
    }
   }
   @media (min-width:1200px) {
    .container {
     width:1170px
    }
   }

   @media screen and (min-width:1px) and (max-width:992px){
  
    #Banner{
        margin-top:100px;
    }
    #Banner-image{
        margin-top:100px;
    }
}
p{
    font-family: 'Poppins', sans-serif;
}

.card-content{
    font-weight: bold;
    text-align: center;
}
#cards{
    margin:1%;
}

.section-services {
	font-family: "Poppins", sans-serif;
	color: #202020;
	padding-top: 115px;
    padding-bottom: 120px;
}

.section-services .header-section {
	margin-bottom: 34px;
}

.section-services .header-section .title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: rgb(108,99,255);
    border-radius: 3px;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #504f93;
    border-radius: 3px;
}

.section-services .header-section .description {
	font-size: 14px;
    color: #282828;
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}

.section-services .single-service .content {
	position: relative;
	z-index: 20;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: rgb(108,99,255);
    border: 6px solid rgb(32, 27, 128);
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}

.section-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: rgb(108,99,255);
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
	background-color: #fff;
	color: rgb(53, 45, 192);
}

.section-services .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
	color: #fff;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}

.section-services .single-service:hover .description {
	color: #fff;
}

.section-services .single-service a {
	position: relative;
	font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
	color: #fff;
}

.section-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: rgb(108,99,255);
	transition: background-color .3s;
}

.section-services .single-service:hover a:after {
	background-color: #fff;
}